body {
    background-color: rgba(7, 15, 15,1);
    color: white;
}

.navbar {
    background-color: black;
}

/* الوضع الفاتح - النمط النهاري */
body.light-mode {
    background-color: white;
    color: black;
}
.card.light-mode {
    background-color: white;
}
.navbar.light-mode {
    background-color: white;
}

.navbar-dark .navbar-toggler-icon {
    background-image: url('assets/images/night-mode.png');
    width: 20px; 

}
.al{
    width: 20px; 
}
.navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
transition: 1s;
    transform: scale(1.2);
    font-size: medium;
}
.navbar .navbar-brand:hover {
    transition: 1s;
        transform: scale(1.2);
        font-size: medium;
    }
    .navbar #navbar-brand:hover {
        transition: 1s;
            transform: scale(1.2);
            font-size: medium;
        }
        .card {
            margin-top: 100px;
            inset-inline-end:100px ;
            display: flex;
            max-width: 100%; /* تعديل العرض حسب الحاجة */
            background-color: rgba(7, 15, 15,1);
            border-radius: 8px;
            overflow: hidden;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        
        .card-content {
            display: flex;
            margin-bottom: 30px;
        }
        
        .card-img {
border-radius: 10%;
            width: 300px; /* تعديل العرض حسب الحاجة */
            height: 500px;
        }        
        .card-title {
            margin-top: 70px;
            font-size: 30px;
            margin-bottom: 10px;
        }
        
        .card-text {
            font-size: 14px;
        }
        
        .btnn {
            padding: 10px 20px;
            font-size: 16px;
            border-radius: 6px;
            background-color: darkgoldenrod;
            color: #fff;
            text-decoration: none;
            transition: background-color 0.3s ease;
        }
        
        .btnn:hover {
            background-color: darkgoldenrod;
        }
     
        .card-text {
            text-align: right;
        }
        
        .container {
            display: flex;
margin-top: 20px;
        }
      
        .word {
            text-align: right;
            font-size:50px;
            color:darkgoldenrod; /* لون الكلمة */
        }
        
        .line {

            margin-top: 35px;
            margin-left:63% ;
            width: 140px;
            height: 1px; /* طول الخط */
            background-color:darkgoldenrod; /* لون الخط */
        }
        .text-container{
            margin-inline: 10%;
            
        }
     
        .containere {
            display: flex;
            flex-direction: row; /* تحديد الاتجاه الأفقي */
        }
    
        .video-container, .info-container {
            flex: 1; /* يأخذان حجمًا متساويًا */
        }
    
        /* تخصيص أنماط فيديو */
        .video-container {
            background-color: rgba(7, 15, 15,1);
        }
            .info-container {
                margin: 20px;
                color: darkgoldenrod;
                text-align: right;
            background-color: rgba(7, 15, 15,1);
        }

        .linedec {

            margin-top: 35px;
            margin-left:20% ;
            width: 140px;
            height: 1px; /* طول الخط */
            background-color:darkgoldenrod; /* لون الخط */
        }
  
        .lineelec {

            margin-top: 50px;
            margin-left:30% ;
            width: 180px;
            height: 1px; /* طول الخط */
            background-color:darkgoldenrod; /* لون الخط */
        }
        .content {
            text-align: center;
        }

        .image {
            width: 90%;
            height: 400px;
        }

        .button {
            background-color: darkgoldenrod;
            color: white;
            border: none;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin-top: 20px;
            cursor: pointer;
            border-radius: 5px;
        }
        .dec{
            margin-top: 60px;
        }
        .carousel {
            overflow: hidden;
            width: 97%;
            height: 550px;   
             padding-left:60px;
             padding-top:40px;

          }